body {
    margin: 0;
    font-family: arial, sans-serif;
    background-color: #111;
    color: rgb(255, 255, 251);
    text-align: center;
}

header {
    background:black;
    color: gold;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

#listaCarrinho {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#listaCarrinho li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
}

#listaCarrinho button {
    background: red;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 5px;
}

.seu-carrinho {
  /* O 'fixed' fixa o elemento em relação à janela do navegador */
  position: fixed; 
  
  /* Distância do topo e da lateral direita */
  top: 20px; 
  right: 20px; 
  
  /* O z-index garante que ele fique na frente das fotos das roupas */
  z-index: 1000; 

  /* Opcional: Adicione um fundo para ele não ficar transparente sobre as fotos */
  background-color: #121212; 
  padding: 15px;
  border-radius: 8px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
 
}

.produto {
    background: #1c1c1c;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

button {
    background: gold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background: #d4af37;
}

footer {
    background: black;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.forma {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.forma:hover {
    transform: scale(1.05);
    color: #f1c40f;
}
